/* NAVBAR */

.navbar {
  padding: 0 10px;
}

.title {
  color: rgb(102, 102, 102) !important;
  text-decoration: none !important;
}

ul {
  margin-top: 10px;
}

a {
  color: grey;
}

a:nth-last-child(2) {
  color: blue;
}
