/* NAVBAR */

.navbar {
  padding: 0 20px;
}

.title {
  color: rgb(102, 102, 102) !important;
  text-decoration: none !important;
}

ul {
  margin-top: 10px;
}

li {
  list-style-type: none;
}

a {
  color: grey;
}

.link {
  color: blue;
}

.selected {
  color: black;
}

/* Pagination */
.pagination {
  width: 500px;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.pagination:hover {
  cursor: pointer;
}

.active {
  padding: 0 0.3rem;
  border-radius: 45%;
  background-color: lightgray;
}
